<!DOCTYPE html>
<html>
    <head>
        <title>Blog Website</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Blog Website</a></h1>
        </header>

        <article>
            <time>published: 09.01.2022, 22:48</time>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post</p>
        </article>

        <article>
            <time>published: 09.01.2022, 22:51</time>
            <h2><a href="">My second post</a></h2>
            <p>This is my second post</p>
        </article>
    </body>
    </html>